<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper	
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.rice.mapper.SearchMapper">
	<select id="list" resultType="kr.co.rice.vo.ProductVo">
		select sl.id as spicylevel_id, sl.level as spicylevel, sc.name as subcategory_name,
		p.id, p.title, p.name, p.size, p.price, pi.image_url from products as p
		inner join products_images as pi on pi.product_id = p.id
		inner join subcategories as sc on p.subcategory_id = sc.id
		inner join spicylevels as sl on p.spicylevel_id = sl.id
		where p.title like concat('%',#{param},'%') order by p.id desc
		limit 3
	</select>
	
	<select id="getItems" resultType="kr.co.rice.vo.ProductVo">
		select sl.id as spicylevel_id, sl.level as spicylevel, sc.name as subcategory_name,
		p.id, p.title, p.name, p.size, p.price, pi.image_url from products as p
		inner join products_images as pi on pi.product_id = p.id
		inner join subcategories as sc on p.subcategory_id = sc.id
		inner join spicylevels as sl on p.spicylevel_id = sl.id
		where p.title like concat('%',#{param1},'%')
		order by p.id desc limit #{param2},#{param3}
	</select>
</mapper>

